<div class="card my-2" [formGroup]="field">
  <div class="card-body">
    <div class="mb-3">
      <label for="fields-{{ index }}-name" class="form-label">Name</label>
      <input type="text" id="fields-{{ index }}-name" class="form-control" formControlName="name">
    </div>
    <!-- type is not editable -->
    <div class="mb-3">
      <input type="checkbox" id="fields-{{ index }}-nullable" class="form-check-input" formControlName="nullable">
      <label for="fields-{{ index }}-nullable" class="form-check-label">Nullable</label>
    </div>
    <div class="mb-3">
      <label for="fields-{{ index }}-minimum" class="form-label">Minimum</label>
      <input type="number" id="fields-{{ index }}-minimum" class="form-control" formControlName="minimum">
    </div>
  </div>
</div>
